.teacher-table {
  .teacher-table-header {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;

    h2 {
      font-size: 28px;
      font-weight: 400;
      color: rgba($color: #000, $alpha: 0.8);

      span {
        font-size: 13px;
        color: rgba($color: #444, $alpha: 0.9);
        margin-left: 7px;
      }
    }

    button.table-header-button {
      padding: 13px 42px;
      border: none;
      border-radius: 44px;
      font-weight: 500;
      font-size: 14px;
      background: rgba($color: #8479e1, $alpha: 0.9);
      color: #fff;
      cursor: pointer;

      &:hover {
        background: rgba($color: #8479e1, $alpha: 1);
      }
    }
  }

  .table {
    .table-menu {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      thead.loader {
        tr {
          justify-content: center;
        }
      }

      tbody {
        width: 100%;

        .menu-item {
          width: 48%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          box-shadow: 4px 4px 10px 1px rgba($color: #000000, $alpha: 0.1);
          margin-bottom: 15px;

          &:hover {
            box-shadow: 4px 4px 10px 1px rgba($color: #000000, $alpha: 0.15);
          }

          td {
            font-size: 13px;
            color: rgba($color: #000000, $alpha: 0.7);
            font-weight: 400;
            padding: 10px;

            &.num {
              color: rgba($color: #000000, $alpha: 0.5);
            }

            a {
              font-weight: 500;
              font-size: 14px;
              color: rgba($color: #000, $alpha: 0.9);
              transition: all 0.1s;

              &:hover {
                color: #8479e1;
              }
            }

            .settings {
              padding: 6px 16px;
              cursor: pointer;

              i {
                padding: 2.5px 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 23px;
                transition: 0.1s all;
                border-radius: 5px;
                color: #8479e1;

                &:hover {
                  background: rgba($color: #000000, $alpha: 0.1);
                }
              }
            }
          }
        }
      }
    }
  }
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  ul {
    padding-top: 4px;

    li {
      padding: 5px 10px;
      font-size: 13px;
    }
  }
}
